{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card gradient-forest">
                        <div class="card-body p-5">
                            <div class="card-title"><h4 style="text-align: center;color:white">修改商品</h4></div>
                            <hr>
                            <form action="{% url "catering:update_dish" %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ dish_obj.id }}">
                                <div class="form-group">
                                    <label for="input-17" style="color: white">商品名称</label>
                                    <input type="text" required
                                           class="form-control input-primary my-1" id="input-17"
                                           name="dish_name" value="{{ dish_obj.name }}">
                                </div>

                                <div class="form-group">
                                    <label for="input-19" style="color: white">商品价格</label>
                                    <input type="text" required
                                           class="form-control input-primary my-1" id="input-19"
                                           name="dish_price" value="{{ dish_obj.price }}">
                                </div>

                                <div class="form-group">
                                    <label for="input-20" style="color: white">商品供应窗口</label>
                                    <select name="window" required
                                            class="form-control input-primary my-1"
                                            id="input-20">
                                        {% for window in window_list %}
                                            <option value="{{ window.id }}">{{ window.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <br>
                                    <div class="modal fade" id="modal-animation-9">
                                        <div class="modal-dialog">
                                            <div class="modal-content animated wobble">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">确认弹框</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>你确认修改这条数据吗？</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                                            class="fa fa-times"></i> 关闭
                                                    </button>
                                                    <button type="submit" class="btn btn-success"><i
                                                            class="fa fa-check-square-o"></i> 修改
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button"
                                                class="btn btn-primary btn-lg btn-block waves-effect waves-light m-1"
                                                data-toggle="modal" data-target="#modal-animation-9"><i
                                                class="zmdi zmdi-check-circle"></i>提交
                                        </button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!--End Row-->
        </div>
        <!-- End container-fluid-->

    </div>

{% endblock %}